<h2 id="dashboard-title" class="record-title">Dashboard</h2>

<div class="main-container">
  <a
    class="dashboard-links"
    href="/ADS_FinalProject/employees/views/employee_view.php"
  >
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined"> groups_3 </span>
        <h2>View Employees</h2>
      </div>
    </div>
  </a>

  <a
    class="dashboard-links"
    href="/ADS_FinalProject/employees/views/employeegoals_view.php"
  >
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined"> task </span>
        <h2>Employee Goals</h2>
      </div>
    </div>
  </a>

  <a
    class="dashboard-links"
    href="/ADS_FinalProject/employees/views/goalprogress_view.php"
  >
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined"> pending </span>
        <h2>Goal Progress</h2>
      </div>
    </div>
  </a>

  <a
    class="dashboard-links"
    href="/ADS_FinalProject/employees/config/report_01.php"
  >
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined"> pie_chart </span>
        <h2>Report 01</h2>
      </div>
    </div>
  </a>

  <a
    class="dashboard-links"
    href="/ADS_FinalProject/employees/config/report_02.php"
  >
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined"> bar_chart </span>
        <h2>Report 02</h2>
      </div>
    </div>
  </a>
</div>
